.gradle/
build/
local.properties
.idea/
*.iml
*.jks
*.keystore
**/build/
**/captures/
**/outputs/
tmp/
*.tmp
*.class
gen/
bin/
.DS_Store
coverage/
.navigation/
out/
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/caches
.idea/modules.xml
.idea/gradle.xml
.idea/misc.xml
.idea/assetWizardSettings.xml
.externalNativeBuild/
.cxx/
google-services.json
captures/
app/build/
lint/reports/
lint/intermediates/
proguard/
*.apk
*.ap_
kotlin/.idea
build/tmp/kapt3/
*.kotlin_module
*.ktm
.idea/index
.idea/shelf/
.idea/dictionaries/
.idea/libraries/
*.o
*.so
gradle-wrapper.jar
.idea/logs/
.idea/caches/
.idea/compile-server/
.idea/backup/
.idea/temp/
.idea/settings/
.idea/runConfigurations/
.idea/tasks/